{
    "plugins": [
        [
            "prismjs",
            {
                "languages": [
                    "stan"
                ],
                "plugins": [
                    "line-numbers",
                    "show-language"
                ],
                "css": true
            }
        ]
    ]
}
